body {
  background-color: #f2f4f8;
}
.outer-wrapper {
  padding: 0 2rem;
}

header {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1.5rem;
  background-color: #fff;
  color: #1a1a1a;
  position: sticky;
  top: 0;
  font-size: 2rem;
  z-index: 99999;
  font-weight: 700;
  background-image: linear-gradient(to bottom right, #6eb0cd, #d2d7d9);
  box-shadow: 4px 5px 7px 0 rgb(183 194 210);
}

.shipment-count {
  width: 100%;
  padding: 2rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shipment {
  font-size: 2rem;
  font-weight: 600;
}

.add-payment {
  padding: 1rem 2rem;
  background-color: #6eb0cd;
  border: 1px solid #6eb0cd;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 4px 5px 7px 0 rgb(183 194 210)
}

.add-payment:hover {
  /* background-color: #fff; */
  cursor: pointer;
  transform: scale(0.98);

}

.colored {
  color: #6eb0cd;
}

.filter-search {
  width: calc(100% - 3rem);
  padding: 1.5rem;
  background-image: linear-gradient(to bottom right, #6eb0cd, #d2d7d9);
  display: flex;
  align-items: center;
  margin: 0 1.5rem;
}

.search-wrap {
  width: 50%;
  position: relative;
}

.searchbar {
  width: 100%;
  height: 2.5rem;
  border: 1px solid rgba(0, 0, 0, 0.23);
  outline: none;
  color: #000;
  font-size: 1rem;
  padding: 0.5rem 2.5rem;
}

.searchbar::placeholder {
  color: #a5a6b0;
}

.searchbar:focus {
  border: 2px solid #1976d2;
}

.searchIcon {
  position: absolute;
  top: 50%;
  left: 1.5rem;
  transform: translate(-50%, -50%);
}

.from-to-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.datePicker-wrap {
  position: relative;
  margin-top: 0.5rem;
}

.error {
  position: absolute;
  color: #e20074;
  font-size: 0.5rem;
  font-weight: 400;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
}


.calender {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translate(-50%, -50%);
}

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  height: 2.5rem !important;
  border-radius: 0 !important;
}

.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  height: 2.5rem !important;
  border-radius: 0 !important;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  transform: translate(14px, 9px) scale(1) !important;
}

.filter-dropdown {
  width: 100%;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  text-align: left !important;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  max-width: calc(100% - 34px) !important;
}


.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #a5a6b0;
  margin-bottom: 2px;
  cursor: pointer;
  opacity: 0.5;
}

.arrow-down {
  margin-top: 2px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #a5a6b0;
  cursor: pointer;
  opacity: 0.5;
}

.dropdown-wrapper {
  position: relative;
}

.table {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  border: 5px solid;
}

.table-header {
  width: calc(100% - 3rem);
  display: flex;
  /* align-items: center; */
  margin: 0 1.5rem;
  /* padding: 1rem; */
}

.table-body {
  height: 21rem;
  overflow: scroll;
}

.table-row {
  width: calc(100% - 3rem);
  display: flex;
  align-items: center;
  margin: 5px 1.5rem;
  padding: 1rem;
  background-color: #fff;
}

.table-row:hover {
  background-color: #d8dce7;
}
.active-page {
  z-index: 3;
  color: #0a58ca;
  background-color: #e9ecef;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.head {
  display: flex;
  align-items: center;
  font-size: 0.825rem;
  font-weight: 700;
  border-right: 1px solid;
}

.table-header .head:last-child{
  border-right: none;
}

.filter-icon {
  cursor: pointer;
}

.dropdown-item {
  /* position: absolute; */
  padding: 0.25rem 0rem;
}
.column-header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

}

.footer-pageNo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.row-element {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.825rem;
  font-weight: 500;
  color: #4b4d61;
}
.all-items-dropdown {
  z-index: 1000;
}

#demo-simple-select {
  width: 6rem;
}
.arrow {
  margin-left: 5px;
}

.first {
  width: 14.2%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.second,
.third,
.fourth,
.fifth,
.sixth {
  width: 15%;
}

.seventh {
  width: 6%;
}

.delete {
  cursor: pointer;
}

.modalBody {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  width: 45%;
  max-height: 45%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.modal-add {
  width: 60%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.modal-body{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

form {
  width: 100%;
}

label {
  display: flex;
  white-space: nowrap;
  margin-right: 1rem;
}

.form-group {
  display: flex;
  margin: 1rem;
  align-items: center;
}
.closeIcon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.close:hover {
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 800;
  padding-bottom: 1.5rem;
}


.desc {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cancel {
  background-color: #fff;
  color: #e20074;
  margin-right: 1rem;
}

.cancel:hover {
  color: #fff;
  background-color: #e20074;
}

.deleteButton {
  color: #fff;
  background-color: #e20074;
}

.deleteButton:hover {
  color: #e20074;
  background-color: #fff;
}

.button {
  margin-top: 1.5rem;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  outline: none;
  border: 2px solid #e20074;
  cursor: pointer;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.pageArrow {
  cursor: pointer;
  margin: 0 1rem;
}

.rowCount {
  display: flex;
  padding: 1rem;
  align-items: center;
}

.rowInput {
  margin-right: 1rem;
}

.previousPage,
.nextPage {
  padding: 0.5rem;
  background-color: #e20074;
  border: 1px solid #e20074;
  cursor: pointer;
  margin: 0 1rem;
  outline: none;
  border-radius: 5px;
}

.disabledArrow {
  cursor: not-allowed;
  border: none;
  background-color: #aaa;
}

.pageNum {
  min-width: 12rem;
  display: flex;
  align-items: center;
}

.pageText {
  display: flex;
  align-items: center;
  margin: 0 1rem;
}

.rowCount .MuiFormControl-fullWidth,
.pageNum .MuiFormControl-fullWidth {
  width: 3rem !important;
}

.MuiInputBase-input {
  padding-left: 8px !important;
}

.noData {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.noDataText {
  margin-top: 1rem;
  font-size: 2rem;
  color: #4b4d61;
  font-weight: 700;
}

.next-prev-wrap {
  display: flex;
  align-items: center;
}



@media screen and (max-width: 480px) {
  .filter-search {
    flex-direction: column;
  }

  .search-wrap,
  .from-to-wrap,
  .filter-dropdown {
    width: 100%;
    margin-bottom: 1rem;
  }

  .datePicker-wrap {
    margin-left: 0;
  }

  .filter-dropdown {
    margin-left: 0;
  }

  .table {
    overflow: auto;
  }

  .table-header,
  .table-row {
    min-width: 50rem;
  }

  .modalContent {
    width: 100%;
  }

  .pagination {
    flex-direction: column;
  }

  .rowCount {
    width: 100%;
  }

  .next-prev-wrap {
    width: 100%;
  }

  .previousPage {
    margin-right: 0;
  }

  .nextPage {
    margin-left: 0;
  }
}